*.gem
.bundle
.jekyll-cache
.sass-cache
_site
/_site
Gemfile.lock
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
jump2python.pdf
.idel
.vscode
# Firebase
.firebaserc
.firebase/
# /.firebase/
# firebase-debug.log
cache/
# temporary
temporary.md
*.log
