---
layout: default
title: Members
---
<link href="/assets/css/style.css" rel="stylesheet" media="screen">
<!-- <h2>Contact Form</h2>
<div class = "form">
    <form name = "contact-form" action="{{"/contact-successful.html" | relative_url}}" method = "POST" data-netlify="true">
        <input class = "form-input" type="text" name="name" id="name" placeholder="Name" required><br>

        <input class = "form-input"type="mail" name="mail" id="mail" placeholder="Email" required><br>

        <textarea class = "form-input" name="message" id="message" cols="30" rows="10" placeholder="Message" required></textarea><br>

        <input class = "form-button" type="submit" value="Submit"><br>
    </form>
</div> -->
<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
  <div class="col-lg-12">
    <div class="title">
      <h2>Current members</h2>
    </div>
  </div>
</div>

<!-- CoreMember -->
<div class="row">
  <div class="col-lg-4 ">
    <div class="media">
      <!-- 이미지 클릭 깃허브 페이지 연결 -->
      <a class="float-left" href="https://github.com/jhparkland">
        <!-- 본인 프로필 이미지 있다면 삽입 없으면 엑박 -->
        <img width=160 class="mr-3" src="/assets/img/member/jhpark.jpg">
      </a>
      <div class="media-body">
        <!-- 이름 클릭 깃허브 페이지 연결 -->
        <div class="head mb-1"><a href="https://github.com/jhparkland" class="off">Jeonghyeon Park</a></div>
        <p class="note">SITE SELECTiON / SITE RECOMMENDATiON</p>
        <p class="cv"><a href="https://drive.google.com/file/d/1JJ8ZEiqy6T9AVYT9pb45yKvRZmboiEyN/view"
            target='_blank'>CV(click to download)</a></p>
      </div>
    </div>
    <div class="bigspacer"></div>
    <div class="bigspacer"></div>
  </div>

  <div class="col-lg-4 ">
    <div class="media">
      <!-- 이미지 클릭 깃허브 페이지 연결 -->
      <a class="float-left" href="https://github.com/jhparkland">
        <!-- 본인 프로필 이미지 있다면 삽입 없으면 엑박 -->
        <img width=160 class="mr-3" src="/assets/img/member/jhpark.jpg">
      </a>
      <div class="media-body">
        <!-- 이름 클릭 깃허브 페이지 연결 -->
        <div class="head mb-1"><a href="https://github.com/jhparkland" class="off">Jeonghyeon Park</a></div>
        <p class="note">SITE SELECTiON / SITE RECOMMENDATiON</p>
        <p class="cv"><a href="https://drive.google.com/file/d/1JJ8ZEiqy6T9AVYT9pb45yKvRZmboiEyN/view"
            target='_blank'>CV(click to download)</a></p>
      </div>
    </div>
    <div class="bigspacer"></div>
    <div class="bigspacer"></div>
  </div>

  <div class="col-lg-4 ">
    <div class="media">
      <!-- 이미지 클릭 깃허브 페이지 연결 -->
      <a class="float-left" href="https://github.com/jhparkland">
        <!-- 본인 프로필 이미지 있다면 삽입 없으면 엑박 -->
        <img width=160 class="mr-3" src="/assets/img/member/jhpark.jpg">
      </a>
      <div class="media-body">
        <!-- 이름 클릭 깃허브 페이지 연결 -->
        <div class="head mb-1"><a href="https://github.com/jhparkland" class="off">Jeonghyeon Park</a></div>
        <p class="note">SITE SELECTiON / SITE RECOMMENDATiON</p>
        <p class="cv"><a href="https://drive.google.com/file/d/1JJ8ZEiqy6T9AVYT9pb45yKvRZmboiEyN/view"
            target='_blank'>CV(click to download)</a></p>
      </div>
    </div>
    <div class="bigspacer"></div>
    <div class="bigspacer"></div>
  </div>
</div>
<!-- 나중에 /div 지워야함 -->
<!-- CoreMember -->



<!-- Member -->
<!--
<div class="row">
    <div class="col-lg-4 ">
        <div class="media">
              <a class="float-left" href="/team/hojun-lee/">
                <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
              </a>
              <div class="media-body">
                <div class="head mb-1"><a href="/team/hojun-lee/" class="off">Hojun Lee</a></div>
                <p class="note">Undergraduate</p>
              </div>
        </div>
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
    </div>
    <div class="col-lg-4 ">
        <div class="media">
              <a class="float-left" href="/team/sungbeom-lee/">
                <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
              </a>
              <div class="media-body">
                <div class="head mb-1"><a href="/team/sungbeom-lee/" class="off">Sungbeom Lee</a></div>
                <p class="note">Undergraduate</p>
              </div>
        </div>
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
    </div>
    <div class="col-lg-4 ">
        <div class="media">
              <a class="float-left" href="/team/muyeon-jo/">
                <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
              </a>
              <div class="media-body">
                <div class="head mb-1"><a href="/team/muyeon-jo/" class="off">Muyeon Jo</a></div>
                <p class="note">Undergraduate</p>
              </div>
        </div>
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 ">
        <div class="media">
              <a class="float-left" href="/team/suyeon-wang/">
                <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
              </a>
              <div class="media-body">
                <div class="head mb-1"><a href="/team/suyeon-wang/" class="off">Suyeon Wang</a></div>
                <p class="note">Undergraduate</p>
              </div>
        </div>
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
    </div>
    <div class="col-lg-4 ">
        <div class="media">
              <a class="float-left" href="/team/munbong-choi/">
                <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
              </a>
              <div class="media-body">
                <div class="head mb-1"><a href="/team/munbong-choi/" class="off">Munbong Choi</a></div>
                <p class="note">Undergraduate</p>
              </div>
        </div>
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
    </div>
    <div class="col-lg-4 ">
        <div class="media">
              <a class="float-left" href="/team/jeonghyeon-park/">
                <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
              </a>
              <div class="media-body">
                <div class="head mb-1"><a href="/team/jeonghyeon-park/" class="off">Jeonghyeon Park</a></div>
                <p class="note">Undergraduate</p>
              </div>
        </div>
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 ">
        <div class="media">
              <a class="float-left" href="/team/haebin-lee/">
                <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
              </a>
              <div class="media-body">
                <div class="head mb-1"><a href="/team/haebin-lee/" class="off">Haebin Lee</a></div>
                <p class="note">Undergraduate</p>
              </div>
        </div>
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
    </div>
    <div class="col-lg-4 ">
        <div class="media">
              <a class="float-left" href="/team/soobin-yoon/">
                <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
              </a>
              <div class="media-body">
                <div class="head mb-1"><a href="/team/soobin-yoon/" class="off">Soobin Yoon</a></div>
                <p class="note">Undergraduate</p>
              </div>
        </div>
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
    </div>
    <div class="col-lg-4 ">
        <div class="media">
              <a class="float-left" href="/team/sumin-baek/">
                <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
              </a>
              <div class="media-body">
                <div class="head mb-1"><a href="/team/sumin-baek/" class="off">Sumin Baek</a></div>
                <p class="note">Undergraduate</p>
              </div>
        </div>
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 ">
        <div class="media">
              <a class="float-left" href="/team/jiseon-kim/">
                <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
              </a>
              <div class="media-body">
                <div class="head mb-1"><a href="/team/jiseon-kim/" class="off">Jiseon Kim</a></div>
                <p class="note">Undergraduate</p>
              </div>
        </div>
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
    </div>
    <div class="col-lg-4 ">
        <div class="media">
              <a class="float-left" href="/team/beopgi-kim/">
                <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
              </a>
              <div class="media-body">
                <div class="head mb-1"><a href="/team/beopgi-kim/" class="off">Beopgi Kim</a></div>
                <p class="note">Undergraduate</p>
              </div>
        </div>
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
    </div>
    <div class="col-lg-4 ">
        <div class="media">
              <a class="float-left" href="/team/jaekyeong-kim/">
                <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
              </a>
              <div class="media-body">
                <div class="head mb-1"><a href="/team/jaekyeong-kim/" class="off">Jaekyeong Kim</a></div>
                <p class="note">Undergraduate</p>
              </div>
        </div>
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 ">
        <div class="media">
              <a class="float-left" href="/team/wonah-kim/">
                <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
              </a>
              <div class="media-body">
                <div class="head mb-1"><a href="/team/wonah-kim/" class="off">Wonah Kim</a></div>
                <p class="note">Undergraduate</p>
              </div>
        </div>
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
    </div>
    <div class="col-lg-4 ">
        <div class="media">
              <a class="float-left" href="/team/gunhan-kim/">
                <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
              </a>
              <div class="media-body">
                <div class="head mb-1"><a href="/team/gunhan-kim/" class="off">Gunhan Kim</a></div>
                <p class="note">Undergraduate</p>
              </div>
        </div>
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
    </div>
</div>
<!-- Member -->

<div class="row">
  <div class="col-lg-12">
    <div class="title">
      <h2>Past members</h2>
    </div>
  </div>
</div>

<div class="bigspacer"></div>

</div>