---
layout: default
title: MemberInfo
---


<div class="post">
  <h2 id = "post-title"><a href="{{ member.url  | relative_url }}">{{ member.title }}</a></h2>

  {% if site.data.settings.date-under-post.active %} 
  <div class = "post-info">
      <span>
          <i class="far fa-calendar" aria-hidden="true"></i>
          <time datetime="{{ member.date | date_to_xmlschema }}" class="by-line">{{ member.date | date_to_string }}</time> - <i class="far fa-clock"></i> 
          {% include reading_time.html %}
      </span>
  </div>
  {% endif %}

  {% if site.data.settings.featured-img.active %}
  <div class = "featured-img-container">
  {% if member.image %}
      <a href="{{ member.url | relative_url }}"><img src="{{ member.image | relative_url }}"/></a>
  {% endif %}
  {% if member.gif %}
      <a href="{{ member.url | relative_url }}">{% include gif.html file = member.gif %}</a>
  {% endif %}
  </div>
  {% endif %}

  <p>
      <span class = "continue-reading"><a href="{{ member.url | relative_url }}">Continue reading...</a></span>
  </p> 
</div>
