<div class="container mt-4">

        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    Current members
                </div>
            </div>
        </div>

        <div class="bigspacer"></div>



        <div class="row">
            <div class="col-lg-4 memberbox">
                <div class="media">
                    <a class="float-left" href="/team/jungkyu-han/">
                        <img width=160 class="mr-3" src="/images/team/jkhan.png">
                    </a>
                    <div class="media-body">
                        <div class="head mb-1"><a href="/team/jungkyu-han/" class="off">Jungkyu Han</a></div>
                        <p class="note">Principal investigator / Leader of Recommedation System Group</p>
                    </div>
                </div>
                <div class="bigspacer"></div>
                <div class="bigspacer"></div>
            </div>





            <div class="col-lg-4 memberbox">
                <div class="media">
                    <a class="float-left" href="/team/sejin-chun/">
                        <img width=160 class="mr-3" src="/images/team/sjchun.jpg">
                    </a>
                    <div class="media-body">
                        <div class="head mb-1"><a href="/team/sejin-chun/" class="off">Sejin Chun</a></div>
                        <p class="note">Principal investigator / Leader of Knowledge Evolution Group</p>
                    </div>
                </div>
                <div class="bigspacer"></div>
                <div class="bigspacer"></div>
            </div>





            <div class="col-lg-4 memberbox">
                <div class="media">
                    <a class="float-left" href="/team/jungsu-kim/">
                        <img width=160 class="mr-3" src="/images/team/jungsu-kim.jpg">
                    </a>
                    <div class="media-body">
                        <div class="head mb-1"><a href="/team/jungsu-kim/" class="off">Jungsu Kim</a></div>
                        <p class="note">M.S student</p>
                    </div>
                </div>
                <div class="bigspacer"></div>
                <div class="bigspacer"></div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-4 memberbox">
                <div class="media">
                    <a class="float-left" href="/team/hojun-lee/">
                        <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
                    </a>
                    <div class="media-body">
                        <div class="head mb-1"><a href="/team/hojun-lee/" class="off">Hojun Lee</a></div>
                        <p class="note">Undergraduate</p>
                    </div>
                </div>
                <div class="bigspacer"></div>
                <div class="bigspacer"></div>
            </div>





            <div class="col-lg-4 memberbox">
                <div class="media">
                    <a class="float-left" href="/team/sungbeom-lee/">
                        <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
                    </a>
                    <div class="media-body">
                        <div class="head mb-1"><a href="/team/sungbeom-lee/" class="off">Sungbeom Lee</a></div>
                        <p class="note">Undergraduate</p>
                    </div>
                </div>
                <div class="bigspacer"></div>
                <div class="bigspacer"></div>
            </div>





            <div class="col-lg-4 memberbox">
                <div class="media">
                    <a class="float-left" href="/team/muyeon-jo/">
                        <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
                    </a>
                    <div class="media-body">
                        <div class="head mb-1"><a href="/team/muyeon-jo/" class="off">Muyeon Jo</a></div>
                        <p class="note">Undergraduate</p>
                    </div>
                </div>
                <div class="bigspacer"></div>
                <div class="bigspacer"></div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-4 memberbox">
                <div class="media">
                    <a class="float-left" href="/team/suyeon-wang/">
                        <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
                    </a>
                    <div class="media-body">
                        <div class="head mb-1"><a href="/team/suyeon-wang/" class="off">Suyeon Wang</a></div>
                        <p class="note">Undergraduate</p>
                    </div>
                </div>
                <div class="bigspacer"></div>
                <div class="bigspacer"></div>
            </div>





            <div class="col-lg-4 memberbox">
                <div class="media">
                    <a class="float-left" href="/team/munbong-choi/">
                        <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
                    </a>
                    <div class="media-body">
                        <div class="head mb-1"><a href="/team/munbong-choi/" class="off">Munbong Choi</a></div>
                        <p class="note">Undergraduate</p>
                    </div>
                </div>
                <div class="bigspacer"></div>
                <div class="bigspacer"></div>
            </div>





            <div class="col-lg-4 memberbox">
                <div class="media">
                    <a class="float-left" href="/team/jeonghyeon-park/">
                        <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
                    </a>
                    <div class="media-body">
                        <div class="head mb-1"><a href="/team/jeonghyeon-park/" class="off">Jeonghyeon Park</a></div>
                        <p class="note">Undergraduate</p>
                    </div>
                </div>
                <div class="bigspacer"></div>
                <div class="bigspacer"></div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-4 memberbox">
                <div class="media">
                    <a class="float-left" href="/team/haebin-lee/">
                        <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
                    </a>
                    <div class="media-body">
                        <div class="head mb-1"><a href="/team/haebin-lee/" class="off">Haebin Lee</a></div>
                        <p class="note">Undergraduate</p>
                    </div>
                </div>
                <div class="bigspacer"></div>
                <div class="bigspacer"></div>
            </div>





            <div class="col-lg-4 memberbox">
                <div class="media">
                    <a class="float-left" href="/team/soobin-yoon/">
                        <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
                    </a>
                    <div class="media-body">
                        <div class="head mb-1"><a href="/team/soobin-yoon/" class="off">Soobin Yoon</a></div>
                        <p class="note">Undergraduate</p>
                    </div>
                </div>
                <div class="bigspacer"></div>
                <div class="bigspacer"></div>
            </div>





            <div class="col-lg-4 memberbox">
                <div class="media">
                    <a class="float-left" href="/team/sumin-baek/">
                        <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
                    </a>
                    <div class="media-body">
                        <div class="head mb-1"><a href="/team/sumin-baek/" class="off">Sumin Baek</a></div>
                        <p class="note">Undergraduate</p>
                    </div>
                </div>
                <div class="bigspacer"></div>
                <div class="bigspacer"></div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-4 memberbox">
                <div class="media">
                    <a class="float-left" href="/team/jiseon-kim/">
                        <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
                    </a>
                    <div class="media-body">
                        <div class="head mb-1"><a href="/team/jiseon-kim/" class="off">Jiseon Kim</a></div>
                        <p class="note">Undergraduate</p>
                    </div>
                </div>
                <div class="bigspacer"></div>
                <div class="bigspacer"></div>
            </div>





            <div class="col-lg-4 memberbox">
                <div class="media">
                    <a class="float-left" href="/team/beopgi-kim/">
                        <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
                    </a>
                    <div class="media-body">
                        <div class="head mb-1"><a href="/team/beopgi-kim/" class="off">Beopgi Kim</a></div>
                        <p class="note">Undergraduate</p>
                    </div>
                </div>
                <div class="bigspacer"></div>
                <div class="bigspacer"></div>
            </div>





            <div class="col-lg-4 memberbox">
                <div class="media">
                    <a class="float-left" href="/team/jaekyeong-kim/">
                        <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
                    </a>
                    <div class="media-body">
                        <div class="head mb-1"><a href="/team/jaekyeong-kim/" class="off">Jaekyeong Kim</a></div>
                        <p class="note">Undergraduate</p>
                    </div>
                </div>
                <div class="bigspacer"></div>
                <div class="bigspacer"></div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-4 memberbox">
                <div class="media">
                    <a class="float-left" href="/team/wonah-kim/">
                        <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
                    </a>
                    <div class="media-body">
                        <div class="head mb-1"><a href="/team/wonah-kim/" class="off">Wonah Kim</a></div>
                        <p class="note">Undergraduate</p>
                    </div>
                </div>
                <div class="bigspacer"></div>
                <div class="bigspacer"></div>
            </div>





            <div class="col-lg-4 memberbox">
                <div class="media">
                    <a class="float-left" href="/team/gunhan-kim/">
                        <img width=160 class="mr-3" src="/images/team/nashwa-ahmed.jpg">
                    </a>
                    <div class="media-body">
                        <div class="head mb-1"><a href="/team/gunhan-kim/" class="off">Gunhan Kim</a></div>
                        <p class="note">Undergraduate</p>
                    </div>
                </div>
                <div class="bigspacer"></div>
                <div class="bigspacer"></div>
            </div>



        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    Past members
                </div>
            </div>
        </div>

        <div class="bigspacer"></div>

    </div>

    <div id="footer"><span style="display:none">foo</span></div>

</body>

</html>